*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#wrap{
    width: 100%;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 400px;
    -webkit-box-shadow: 4px 4px 5px #888;
    box-shadow: 4px 4px 5px #888;
    background-color: #0a2945;
   
}
#header h1{
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #eaedf0;
    text-shadow: 1px 2px 3px #fff;
    padding: 150px 0 50px 680px;
    
}
#nav{
    height: 60px;
    margin-left: 509px;
}

#nav ul{
    list-style-type: none;
     margin: 0 auto;
}
#nav ul li{
    float: left;
    display: inline-block;
}
#nav ul li a{
    display: block;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    background-color: rgb(170, 29, 29);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
#nav ul li a:hover{
    color: #edcd64;
    background-color: rgba(128, 97, 29, 0.24);
}
#content{
    height: 3050px;
    width: 1200px;
    background-color: #fff;
    position: relative;
    left: 250px;
    border: 2px solid #0a2945;
}

.prvi{
    position: relative;
    top: -5px;
    background-color: #1b1c20;
    height: 250px;
}
.prvi h2{
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 40px 20px;
    line-height: 55px;
    font-family: 'Playfair Display', serif;
}
.drugi{
    position: relative;
    background-color: #fff;
    height: 1570px;
}
.drugi ul{
    padding: 20px 0 0 50px;
    font-size: 20px;
    line-height: 30px;
}
hr{
    width: 90%;
    margin: 40px auto 20px;
    border: 0px;
    height: 2px;
    background: #eee;
    background: linear-gradient(to left, #d3d3d3, #505050, #d3d3d3);
    
}
.drugi p{
    padding: 30px 50px 0 50px;
    font-size: 20px;
    line-height: 30px;
}
.vid{
    margin: 100px 0px 60px 180px;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height: 0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top: 0px;
	left:0px;
	width:100%;
	height:100%;
}
.treci{
    position: relative;
    background-color: #1b1c20;
    height: 420px;
    
}
.pic1{
    position: absolute;
    left: 20px;
    top:30px;
}
.pic2{
    position: absolute;
    left: 415px;
    top: 30px;
}
.pic3{
   position: absolute;
    left: 805px;
    top: 30px;
}
.treci p.tekst1{
    width: 345px;
    position: absolute;
    top: 300px;
    left: 20px;
    background-color: #e8e8e8;
    padding: 15px;
    color: #3c3535;
}
.treci p.tekst2{
    width: 345px;
    position: absolute;
    top: 300px;
    left: 415px;
    background-color: #e8e8e8;
    padding: 15px;
    color: #3c3535;
}
.treci p.tekst3{
    width: 345px;
    position: absolute;
    top: 300px;
    left: 805px;
    background-color: #e8e8e8;
    padding: 15px;
    color: #3c3535;
}
#footer{
    width: 1204px;
    height: 50px;
    line-height: 50px;
    background-color: #0a2945;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 0 250px;
}